<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Housemates - Home</title>


    <link href="/public/assets/nav.css" type="text/css" rel="stylesheet">
    <link href="/public/assets/group.css" type="text/css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="header">
        <h1>Housemates</h1>
        <p> Group <%= user[0].groupName %>'s Feed.</p>
      </div>
    </header>

    <div class="navbar">
      <form method="POST">
        <input type="hidden" name="name" value="<%= user[0].username %>">
        <button type="submit" formaction="/sendGroupPage" class="btn-link" >Feed Page</button>
        <button type="submit" formaction="/createPost" class="btn-link" >Create Post</button>
        <button type="submit" formaction="/logOut" class="btn-link" >Log Out</button>

        <p class ="loggedInAs">Logged in as <%= user[0].username %>   </p>
      </form>
    </div>
    

  <% for(var i = 0; i < posts.length; i++) { %>
  <div class="blocks">
    <h2 class="title"><%= posts[i].pTitle %></h2>

    <div class=" grouped">
      <h5 class="by">By <%= posts[i].user %> </h5> 
      <h5 class="stamp"> On <%= posts[i].pDate %> at <%= posts[i].pTime %>  </h5>
    </div>
    <br>
    
    <p class="des"><%= posts[i].pDes %></p>
    <br>
  </div>

  <% } %>
    
    

  <footer class="text-muted"> 
    <div class="container">
      <p>This project is just for practice. It is not made to hold any important information
        Created by Nathan Latronica, <a href="https://github.com/nathanlatronica/Housemates2.0">Github repo</a>, <a href="https://nathanlatronica.com">My Website</a></p>
      <p class="float-right">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>